
.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  padding-top: 10%;
}

.container {
  width: auto;
  height: auto;
  max-width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
/*  text-transform: uppercase;
*/font-family: 'Lobster', cursive;
  color: white;
  font-size: 2.3em;
  text-align: center;
  display: block;
  line-height: 1.45;
  letter-spacing: .02em;
}

.box {
  width: 100%;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  perspective: 8000px;
}

.box .front {
  width: 100%;
  height: auto;
  margin: 0;
  transform-style: preserve-3d;
  transition: .3s linear;
  position: relative;
}

.box .front img{
  width: 100%;
  height: auto;
  display: block;
}

.box .bottom {
  width: 100%;
  margin: 0;
  transform-style: preserve-3d;
  transition: .3s linear;
}

.bottom {
  height: 100px; 
}

.box .front  { transform: rotateY(   0deg ) translateZ( 50px ); }
.box .bottom { transform: rotateX( -90deg ) translateZ( -50px ); }


.box:hover .front {
  transform: rotateX( 30deg ) translateZ(  0px );
}

.box:hover .bottom{
transform: rotateX( -60deg ) translateZ( -50px ) ;
}

.playbutton {
  font-size: 100px;
  font-family: sans-serif;
  line-height: 100px;
  padding: 21px 8px 8px 7px;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: 10px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -65px;
  margin-top: -65px;
  z-index: 5;
  text-indent: 0.25em;
}



