.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  padding-top: 10%;
}

.container {
  perspective: 2000px;
  width: 70%;
  height: auto;
  margin-bottom: 10%;
  /*  transform: rotateY(-180deg); */

}

#box {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
}

#box .front {
  height: auto;
  position: absolute;
  width: 100%;
  transform-style: preserve-3d;
}

#box .bottom {
  width: 100%;
  height: 15%;
  margin: 0;
  transform-style: preserve-3d;
}



.bottom {
  color: white;
  font-size: 1em;
  text-align: center;
  display: block;
  line-height: 2em;
}


/* .bottom {
  -webkit-transform: rotateX(-90deg);
}  */

/* WebKit and Opera browsers */
  @-webkit-keyframes rotate-front {
    from { -webkit-transform: rotateX(0deg);    }
    to   { -webkit-transform: rotateX(30deg); }
  }

  /* all other browsers */
  @keyframes rotate-front {
    from {
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    to {
      -moz-transform: rotateX(30deg);
      -ms-transform: rotateX(30deg);
      transform: rotateX(30deg);
    }
  }

  /* WebKit and Opera browsers */
  @-webkit-keyframes rotate-bottom  {
    from { -webkit-transform: rotateX(-90deg);    }
    to   { -webkit-transform: rotateX(-60deg); }
  }

  /* all other browsers */
  @keyframes rotate-bottom {
    from {
      -moz-transform: rotateX(-90deg);
      -ms-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
    }
    to {
      -moz-transform: rotateX(-60deg);
      -ms-transform: rotateX(-60deg);
      transform: rotateX(-60deg);
    }
  }

    .front {
    -webkit-animation-name: rotate-front;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
 
    animation-name: rotate-front;
    animation-timing-function: linear;
    animation-duration: 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }

  .bottom {
    -webkit-animation-name: rotate-bottom;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;

 
    animation-name: rotate-bottom;
    animation-timing-function: linear;
    animation-duration: 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }

  #box:hover .front, #box:hover .bottom{
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
  