/*/////////// GLOBAL //////////*/

body {
	background: black;
  font-weight: auto;
}

#background {
	width: 100%;
  z-index: 0;
  background-image: url(../images/katie_background.gif);
  background-size: contain;
  background-color: black;
  background-position: center, center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
}

footer {
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  position: fixed;
  color: #ccc;
  font-size: .7em;
}

.wrapper {
  clear: both;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
}

/*/////////// INDEX //////////*/

#katieIntro {
  font-size: 37em;
  color: white;
  font-family: 'Anton', sans-serif;
}

/*/////////// NAVIGATION //////////*/

header {
	position: fixed;
	width: 100%;
	height: auto;
  z-index: 2;
  }

.banner #katieGotBandz{
text-align: center;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  letter-spacing: .04em;
  margin-right: .75em;
  text-shadow: 1px 1px 1px black; 
}

#navbar a:hover {
    color: black;
  }

ul:before {
  content: "\f0c9";
  font-family: 'FontAwesome';
  color: white;
  font-size: 1em;
  display: inline-block;
  position: relative;
  top: 0;
  padding-top: .5em;
  padding-right: .5em;
}

ul {
  display: block;
  position: relative;
  float: right;
  text-align: right;
  max-height: 1.5em;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1.5em;
  box-sizing: border-box;
  overflow-y: hidden;
  width: 160px;
  transition: max-height .5s linear;
}

ul.open{
  max-height: 100vh;
}

@media screen and (min-width: 321px){
  ul {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: auto;
  }

  li {
    display: inline-block;
    width: auto;
    height: auto;
  } 

  ul li:last-child a{
    margin-right: 0px;
  }

  ul:before {
    content:none;
  }

  #background {
    background-position: 40% 0;
  }
} /* end TABLET media query */

@media screen and (min-width: 668px) {
  .banner #katieGotBandz {
    float: left;
  }

  ul {
    float: right;
    margin-top: .6em;
    width: auto;
    margin-right: 1em;
  }

  .banner {
    height: 2.5em;
  }

} /* end COMPUTER media query */



/*/////////// BIO //////////*/

#biopic {
  margin-top: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
}

#bioActive {
  color: #C32AA9;
}

#biopic img{
  padding-left: 10%;
  float: left;
}

.bio {
  position: absolute;
  float: right;
  margin: 0 auto;
  width: 35%;
  right: 15%;
  top: 220px;
  color: #C32AA9;
  text-align: justify;
  line-height: 1.4em;
}


/*/////////// MUSIC //////////*/



#itunes #getKatie{
  color: white;
  font-family: 'Anton';
  font-size: 7em;
  float: right;
  display: inline-block;
  padding-top: 65px;
  padding-right: 5px;
  opacity: 1;
  transition: opacity .5s;
  margin: 0;

}

#itunes a img{
  display: inline-block;
  float: right;
  width: auto;
  height: auto;
  transition: opacity .5s;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#itunes:hover img{
  opacity: 1;
}

#itunes:hover #getKatie{
  opacity: 0;
}

#soundcloud iframe {
  margin: 0;
  padding: 0;
}
