/*/////////// GLOBAL //////////*/

body {
	font-family: 'Squada One', sans-serif;
	background: black;
}

header {
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 10%;
}

#background {
	width: 100%;
}

/*/////////// NAVIGATION //////////*/


nav a {
	text-decoration: none;
	color: white;
	font-size: 200%;
	margin-left: 1%;
}

nav a:hover {
	color: black;
}

nav a.home {
	background: url(../images/devil-emoji.png) no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;

}


/* min-height
max-height */