/*/////////// GLOBAL //////////*/

body {
	background: black;
  font-weight: auto;
}

#background {
	width: 100%;
  z-index: 0;
  background-image: url(../images/katie_background.gif);
  background-size: contain;
  background-color: black;
  background-position: center, center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
}

footer {
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  position: fixed;
  color: #ccc;
  font-size: .7em;
}

.wrapper {
  clear: both;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
}

/*/////////// INDEX //////////*/

#katieIntro {
  font-size: 37em;
  color: white;
  font-family: 'Anton', sans-serif;
}

/*/////////// NAVIGATION //////////*/

header {
	position: fixed;
	width: 100%;
	height: auto;
  z-index: 2;
  font-family: 'FontAwesome', sans-serif;
  }

.banner #katieGotBandz {
text-align: center;
}


li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  letter-spacing: .04em;
  text-shadow: 1px 1px 1px black; 
  line-height: 1.5em;
}
li:first-child {
  padding-top: .3em;
}

#navbar a:hover {
    color: black;
  }

ul:before {
  content: "\f0c9";
  font-family: 'FontAwesome';
  color: white;
  font-size: 1em;
  display: inline-block;
  position: relative;
  top: 0;
  padding-top: .5em;
  padding-right: .9em;
}

ul {
  display: block;
  position: relative;
  float: right;
  text-align: right;
  max-height: 1.5em;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1.5em;
  box-sizing: border-box;
  overflow-y: hidden;
  width: 160px;
  transition: max-height .5s linear;
  list-style-type: none;
}

ul.open{
  max-height: 100vh;
}

@media screen and (min-width: 321px){
  ul {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: auto;
  }

  li {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: .6em;
  } 

  ul li:last-child a{
    margin-right: 0px;
  }

  ul:before {
    content:none;
  }

  #background {
    background-position: 40% 0;
  }

  li:first-child {
  padding-top: 0;
  }

} /* end tablet media query */

@media screen and (min-width: 668px) {
  .banner #katieGotBandz {
    float: left;
  }

  ul {
    float: right;
    margin-top: .6em;
    width: auto;
    margin-right: 5%;
  }

  li {
    margin-right: 1em;
  }

  li:last-child {
    margin-right: 0em;
  }

  .banner {
    height: 2.5em;
    background-color: black;
  }

  li a {
    line-height: 1em;
  }

} /* end COMPUTER media query */



/*/////////// BIO //////////*/

#biopic {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 100px;
}

#bioActive {
  color: #C32AA9;
}


.bio {
  margin: 0 auto;
  color: #C32AA9;
  text-align: justify;
  line-height: 1.4em;
}

@media screen and (min-width: 321px){
  .bio {
    position: relative;
    float: none;
    clear: both;
    margin: 5%;
    padding-top: 1%;
  }

  #biopic {
    clear: both;
    float: none;
    position: relative;
    text-align: center;
  }
} /*end tablet media query for BIO*/

@media screen and (min-width: 730px){
  .bio {
  display: block;
  position: absolute;
  float: right;
  width: 45%;
  right: 5%;
  margin: 0;
  padding-right: 5%;
  top: 220px;
  }

  #biopic {
  padding-left: 5%;
  float: left;
  text-align: left;
}
} /*end desktop media query for BIO*/

@media screen and (max-width: 840px){
  .bio {
    padding-right: 0;
  }

  #bop[oc {
    padding-left: 5%;
  }
}

/*/////////// MUSIC //////////*/
#itunes #getKatie{
  color: white;
  font-family: 'Anton';
}

#itunes a img{
  display: inline-block;
  float: right;
}

#itunes a {
  text-decoration: none;
}

#soundcloud iframe {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 321px){
  #itunes a img{
    width: 175px;
    height: auto;
    padding-top: 1em;
    padding-bottom: 3px;
  }

  #itunes #getKatie{
    font-size: 1.4em;
    padding-top: 46px;
  }
}

@media screen and (min-width: 321px){


} /*end tablet media query*/

@media screen and (min-width: 668px){

  #itunes a img{
    width: auto;
    height: auto;
    transition: opacity .5s;
  }


  #itunes:hover img{
    opacity: 0;
  }

  #itunes:hover #getKatie{
    opacity: 0;
  }

  #itunes #getKatie{
    font-size: 6.7em;
    float: left;
    display: inline-block;
    padding-top: 70px;
    padding-right: 5px;
    transition: opacity .5s;
  }
} /*end computer media query*/
